/* Rectangle 34 */


position: absolute;
width: 90px;
height: 18px;
left: 281px;
top: 618px;

background: linear-gradient(187.37deg, #00BFCB 5.73%, rgba(196, 196, 196, 0) 124.77%);
border: 2px solid #030D66;
box-sizing: border-box;
border-radius: 5px;


/* Rectangle 35 */


position: absolute;
width: 90px;
height: 18px;
left: 1006px;
top: 620px;

background: linear-gradient(187.37deg, #00BFCB 5.73%, rgba(196, 196, 196, 0) 124.77%);
border: 2px solid #030D66;
box-sizing: border-box;
border-radius: 5px;


/* Rectangle 7 */


position: absolute;
width: 389px;
height: 186px;
left: 326px;
top: 652px;

background: #97DBF0;


/* Rectangle 28 */


position: absolute;
width: 389px;
height: 186px;
left: 1051px;
top: 652px;

background: #97DBF0;


/* Do you like RGB? or what are your opinions on it? There are even a few people who invest on RGB at least 50% of the cost of the total build which sounds to be ridiculous. So mne even tend to believe that more the RGB is, better their build will be worth it. It’s true some may like to confess their inner personality via RGB but overoll we can consider that is overated... */


position: absolute;
width: 379px;
height: 132px;
left: 1063px;
top: 678px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #000000;



/* Rectangle 19 */


position: absolute;
width: 389px;
height: 186px;
left: 326px;
top: 838px;

background: #9CB5CB;


/* Rectangle 29 */


position: absolute;
width: 389px;
height: 186px;
left: 1051px;
top: 838px;

background: #9CB5CB;


/* Rectangle 1 */


position: absolute;
width: 1440px;
height: 56px;
left: 0px;
top: 0px;

background: #323232;


/* Rectangle 2 */


position: absolute;
width: 620px;
height: 409px;
left: -1px;
top: 197px;

background: url(image.png);


/* Rectangle 3 */


position: absolute;
width: 304px;
height: 409px;
left: 619px;
top: 197px;

background: url(image.png);


/* Rectangle 16 */


position: absolute;
width: 286px;
height: 214px;
left: 923px;
top: 197px;

background: url(12.jpg);


/* Microsoft announced about the release of Windows 11 on October 5th. With more exciting features, they will also release DirectX12 Ultimate and Auto HDR for games. To load up the games fast they will also introduce a directStorage feature if you have an NVME. Most craziest news is as per XDA developers they predict, that Valorant will drop the support for Windows 10 or below devices by utilizing the TPM 2 freature as per the Windows 11 inorder to prevent hackers... */


position: absolute;
width: 379px;
height: 170px;
left: 331px;
top: 669px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #000000;



/* Tech Expert Dilshard Ahamed Says “Everyone should code which he points out that coding can improve problem solving, patience and logical thinking skills”. Following this will lead you to good job opportunities. The ability towork remotely and one of the high paying career, there are no limits. Let’s learn how to code with Mr. Dilshard Ahamed to know whether coding is for you or not?... */


position: absolute;
width: 379px;
height: 132px;
left: 1066px;
top: 865px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #000000;



/* Rectangle 6 */


position: absolute;
width: 326px;
height: 186px;
left: 0px;
top: 652px;

background: url(image.png);


/* Rectangle 23 */


position: absolute;
width: 326px;
height: 186px;
left: 725px;
top: 652px;

background: url(image.png);


/* Rectangle 24 */


position: absolute;
width: 326px;
height: 186px;
left: 725px;
top: 838px;

background: url(image.png);


/* Rectangle 18 */


position: absolute;
width: 326px;
height: 186px;
left: 0px;
top: 838px;

background: url(2.jpg);


/* Recommended */


position: absolute;
width: 85px;
height: 14px;
left: 286px;
top: 620px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #000000;



/* Popular */


position: absolute;
width: 42px;
height: 14px;
left: 1030px;
top: 622px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #000000;



/* Rectangle 9 */


position: absolute;
width: 130px;
height: 56px;
left: 325px;
top: 0px;

background: #525050;
border: 2px solid #000000;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;


/* Rectangle 10 */


position: absolute;
width: 130px;
height: 56px;
left: 63px;
top: 0px;

background: #525050;
border: 2px solid #000000;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;


/* Rectangle 27 */


position: absolute;
width: 130px;
height: 56px;
left: 194px;
top: 0px;

background: #525050;
border: 2px solid #000000;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;


/* Category */


position: absolute;
width: 74px;
height: 21px;
left: 222px;
top: 18px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;



/* Rectangle 11 */


position: absolute;
width: 130px;
height: 56px;
left: 456px;
top: 0px;

background: #525050;
border: 2px solid #000000;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;


/* Rectangle 12 */


position: absolute;
width: 130px;
height: 56px;
left: 587px;
top: 0px;

background: #525050;
border: 2px solid #000000;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;


/* Rectangle 13 */


position: absolute;
width: 130px;
height: 56px;
left: 718px;
top: 0px;

background: #525050;
border: 2px solid #000000;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;


/* Rectangle 14 */


position: absolute;
width: 130px;
height: 56px;
left: 849px;
top: 0px;

background: #525050;
border: 2px solid #000000;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;


/* Rectangle 15 */


position: absolute;
width: 151px;
height: 56px;
left: 1289px;
top: 0px;

background: #425864;


/* Home */


position: absolute;
width: 49px;
height: 21px;
left: 104px;
top: 18px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;



/* Featured */


position: absolute;
width: 72px;
height: 21px;
left: 354px;
top: 18px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;



/* News */


position: absolute;
width: 45px;
height: 21px;
left: 499px;
top: 18px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;



/* Competition */


position: absolute;
width: 100px;
height: 21px;
left: 602px;
top: 18px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;



/* Videos */


position: absolute;
width: 56px;
height: 21px;
left: 755px;
top: 18px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;



/* FAQ */


position: absolute;
width: 33px;
height: 21px;
left: 897px;
top: 18px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;



/* Rectangle 17 */


position: absolute;
width: 275px;
height: 35px;
left: 994px;
top: 11px;

background: #FFFFFF;
opacity: 0.6;


/* zoom-in 1 */


position: absolute;
width: 20px;
height: 20px;
left: 1242px;
top: 19px;

background: url(zoom-in.png);


/* Search */


position: absolute;
width: 37px;
height: 14px;
left: 1189px;
top: 21px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #000000;

opacity: 0.5;


/* sign-up 1 */


position: absolute;
width: 25px;
height: 25px;
left: 1297px;
top: 16px;

background: url(sign-up.png);


/* Sign in/ Sign up */


position: absolute;
width: 86px;
height: 14px;
left: 1334px;
top: 21px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #FFFFFF;



/* PC Builder Ahamed Musthafa Careem released a new guide on how to build a pc within a restricted budget. “The GPU shortage will at least have more than a year” says Ahamed. He shows the importance of good pc cable management and what does it take to build for your basic needs. This article includes how to build a pc setup for your basic needs, gaming and programming under $600 Wanna learn more? Let us see how to build a pc and what to consider when you purchase the components. */


position: absolute;
width: 371px;
height: 144px;
left: 335px;
top: 854px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #000000;



/* icons8-play-button-circled-96 */


position: absolute;
width: 50px;
height: 50px;
left: 1041px;
top: 279px;

background: url(icons8-play-button-circled-96.png);


/* Rectangle 20 */


position: absolute;
width: 286px;
height: 195px;
left: 923px;
top: 411px;

background: url(IMG_2021-08-16-22-10-00-627.jpg);


/* icons8-play-button-circled-96 */


position: absolute;
width: 50px;
height: 50px;
left: 1041px;
top: 483px;

background: url(icons8-play-button-circled-96.png);


/* Rectangle 21 */


position: absolute;
width: 231px;
height: 409px;
left: 1209px;
top: 197px;

background: url(20210528_092644.jpg);


/* icons8-play-button-circled-96 */


position: absolute;
width: 70px;
height: 70px;
left: 1290px;
top: 366px;

background: url(icons8-play-button-circled-96.png);


/* Line 1 */


position: absolute;
width: 110px;
height: 0px;
left: 73px;
top: 53.5px;

border: 4px solid #FCE517;


/* Rectangle 22 */


position: absolute;
width: 1440px;
height: 141px;
left: 0px;
top: 56px;

background: url(image.png);
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 25 */


position: absolute;
width: 619px;
height: 114px;
left: 0px;
top: 492px;

background: rgba(0, 0, 0, 0.48);


/* Rectangle 26 */


position: absolute;
width: 304px;
height: 114px;
left: 619px;
top: 492px;

background: rgba(0, 0, 0, 0.48);


/* The best Fortnite outfit combinations to use and if you disagree with the result you can rate them yourself and change the rankings!. The skins in Fortnite have been a big part of the game's success! While most games of this nature tend to be first person and you can barely see yourself, this game is in third person so you are always looking at your cosmetics. That means the skin you have on is a lot more important, and you can personalize it in a variety of ways. */


position: absolute;
width: 572px;
height: 84px;
left: 41px;
top: 504px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;

color: #FFFFFF;



/* Tips from the Fortnite G.O.A.T Chilled_JOKER. It does’nt matter whether you are on a PC or a console. You just need the IQ to master the game. Whether you are a builder nor an attacker, this article will help you... */


position: absolute;
width: 269px;
height: 70px;
left: 648px;
top: 515px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;

color: #FFFFFF;



/* Tips To Clean Your Laptop */


position: absolute;
width: 177px;
height: 18px;
left: 1236px;
top: 339px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;
/* identical to box height */


color: #FFFFFF;



/* Text */


position: absolute;
width: 0px;
height: 14px;
left: 992px;
top: 546px;




/* Windows 11 Walkthrough */


position: absolute;
width: 172px;
height: 18px;
left: 980px;
top: 537px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;
/* identical to box height */


color: #FFFFFF;



/* Rectangle 30 */


position: absolute;
width: 202px;
height: 18px;
left: 62px;
top: 653px;

background: #525050;
opacity: 0.4;
border-radius: 5px;


/* Rectangle 31 */


position: absolute;
width: 202px;
height: 18px;
left: 62px;
top: 839px;

background: #525050;
opacity: 0.4;
border-radius: 5px;


/* Rectangle 32 */


position: absolute;
width: 202px;
height: 18px;
left: 787px;
top: 651px;

background: #525050;
opacity: 0.4;
border-radius: 5px;


/* Rectangle 33 */


position: absolute;
width: 202px;
height: 18px;
left: 785px;
top: 839px;

background: #525050;
opacity: 0.4;
border-radius: 5px;


/* GAMING ON WINDOWS 11? */


position: absolute;
width: 174px;
height: 16px;
left: 76px;
top: 654px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;



/* PC Build step by Step */


position: absolute;
width: 145px;
height: 18px;
left: 993px;
top: 255px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;
/* identical to box height */


color: #FFFFFF;



/* PC BUILD STEP BY STEP */


position: absolute;
width: 157px;
height: 16px;
left: 85px;
top: 840px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;



/* RGB WORTH IT? */


position: absolute;
width: 104px;
height: 16px;
left: 834px;
top: 652px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;



/* ARE YOU INTO PROGRAMMING */


position: absolute;
width: 200px;
height: 16px;
left: 785px;
top: 840px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;



/* Ellipse 1 */


position: absolute;
width: 399px;
height: 115px;
left: 518px;
top: 69px;

background: url(image.png);


/* DEVPC HUB */


position: absolute;
width: 276px;
height: 79px;
left: 579px;
top: 87px;

font-family: Saira Stencil One;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 79px;
/* identical to box height */


color: #FFFFFF;



/* Read more... */


position: absolute;
width: 78px;
height: 16px;
left: 1353px;
top: 807px;

font-family: Roboto;
font-style: italic;
font-weight: 500;
font-size: 14px;
line-height: 16px;

color: #071597;



/* Read more... */


position: absolute;
width: 78px;
height: 16px;
left: 1353px;
top: 995px;

font-family: Roboto;
font-style: italic;
font-weight: 500;
font-size: 14px;
line-height: 16px;

color: #071597;



/* Read more... */


position: absolute;
width: 78px;
height: 16px;
left: 627px;
top: 997px;

font-family: Roboto;
font-style: italic;
font-weight: 500;
font-size: 14px;
line-height: 16px;

color: #071597;



/* Read more... */


position: absolute;
width: 78px;
height: 16px;
left: 627px;
top: 810px;

font-family: Roboto;
font-style: italic;
font-weight: 500;
font-size: 14px;
line-height: 16px;

color: #071597;
